:root {
    --PAPAYA: #E24E42;
    --AQUA: #008F95;
    --LIGHT-GRAY: #f2f6fc;
    --GREEN: #008000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--LIGHT-GRAY);
}

body, form, input {
    font-family: 'Ubuntu', sans-serif;
}

body {
    font-size: 1.1rem;
    line-height: 1.75rem;
    width: fit-content;
    margin: 50px auto;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.content-wrapper {
    padding: 5rem;
}

section {
    width: fit-content;
}

h1 {
    color: var(--GREEN);
    margin-bottom: 1.5rem;
}

h3 {
    color: var(--GREEN);
    font-weight: 400;
    opacity: 70%;
}

form {
    margin: 3rem 0;
    width: fit-content;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

form, input {
    font-size: 1.1rem;
}

label {
    font-weight: bold;
    color: var(--GREEN);
    text-transform: uppercase;
    margin-bottom: .3rem;
}

input  {
    font-weight: 500;
    padding: .7rem 1rem;
    text-align: center;
    outline: none;
    background: none;
    border: none;
    border-radius: 4px;
}

#widthInput, #heightInput {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

#submit {
    height: 3rem;
    padding: .5rem 2rem;
    font-weight: bold;
    color: var(--GREEN);
    border-bottom: 2px solid var(--GREEN);
    background-color: var(--LIGHT-GRAY);
    transition: 100ms;
}

#submit:hover {
    color: white;
    background-color: var(--GREEN);
    cursor: pointer;
}

#submit:active {
    transform: scale(.9);
}

#width, #height {
    width: 6rem;
    margin-right: 1rem;
    border: 2px solid var(--GREEN);
}

footer {
    padding: .75rem;
    text-align: center;
    color: gray;
    background-color: var(--LIGHT-GRAY);
    border-radius: 0 0 12px 12px;
}